@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@600&family=Dancing+Script:wght@600&family=Rubik+Mono+One&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'android', sans-serif; 


}

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao)
}

a.externo::after {
    content: '\00A0\1F517';
}



header  {
   background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}


header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.674);

    
    
}

header > p {
    color: white;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
padding-left: 10px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.676);
    
}



nav {
    background-color: var(--cor5);
    padding: 5px;
    color: white;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.87);
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
font-weight: bold;
border-radius: 5px;
transition-duration: 0.3s;
}

nav > a:hover {
background-color: #3ddc84;
color: var(--cor4);
}

main {
background-color: white;
margin: auto;
padding: 20px;
min-width: 300px;
max-width: 1000px;
box-shadow: 0px 0px 10px black;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
margin-bottom: 30px;



}

main p {
    margin: 15px 0px; 
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
  }

  main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 5px;
  }

  main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
    
  }

  main a:hover {
    text-decoration: underline;
    color: blue;
    background-color: white;
  }


main img {
    width: 100%;
    margin: auto;

}

main img.pequena {
   
    margin: auto;
    display: block;
    max-width: 350px;
}


main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);

}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
    

}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    


}


aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.534);
}



aside > h3 {
    background-color: var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0';
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1em;
padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}






